#!/bin/bash

export IMAP_HOST=127.0.0.1

export IMAP_PORT=993

export IMAP_USERNAME=secret

export IMAP_PASSWORD=secret

export IMAP_MAILBOX=inbox

export LOG_LEVEL=info

export REDIS_HOST=localhost

export REDIS_PORT=6379

export VERSION=experimental
